<!DOCTYPE html>
<html>
<head><title>{{ page.title }}</title></head>
<body>
<div class="content">{{ content }}</div>
<div class="cascade-layout">{{ page.layout }}</div>
<div class="cascade-author-name">{{ page.author.name }}</div>
<div class="cascade-author-twitter">{{ page.author.twitter }}</div>
<div class="cascade-category">{{ page.category }}</div>
</body>
</html>
