<!DOCTYPE html>
<html>
<head><title>Tags</title></head>
<body>
{% if taxonomy.term %}
  <h1>{{ taxonomy.term }}</h1>
  {% for post in taxonomy.pages %}
    <a href="{{ post.url }}">{{ post.title }}</a>
  {% endfor %}
{% else %}
  {% for term in taxonomy.terms %}
    <a href="{{ term.url }}">{{ term.name }} ({{ term.pages | size }})</a>
  {% endfor %}
{% endif %}
</body>
</html>
